<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue入门-计算属性与侦听器</title>
<script src="./vue.js" charset="utf-8" type="text/JavaScript"></script>
</head>
<body>
    <!-- 挂载点, 模板, 实例之间的关系-->
    <div id="root">
        姓：<input v-model="firstName"/>
        名：<input v-model="lastName"/>
        <div>{{fullName}}</div>
        <div>{{count}}</div>
    </div>
    <script>
        var vue = new Vue({
            el: "#root",
            data: {
                firstName: '',
                lastName: '',
                count: 0
            },
            computed: {
                fullName: function() {
                    return this.firstName + ' ' + this.lastName;
                }
            },
            watch: {
                fullName: function() {
                    this.count++;
                }
            }
        })
    </script>

</body>
</html>